{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}

    {% if articles %}
        <table id="articles" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Article Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td></td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.body }}</td>
                        <td>
                            <a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No articles</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script>
        $(function() {

            let articles = $('#articles');

            if(articles) {
                articles.on('click', e => {
                    if(e.target.className === 'btn btn-danger delete-article') {
                        if(confirm('Are you sure?')) {
                            const id = e.target.getAttribute('data-id')
                            fetch(`article/delete/${id}`, {
                                method: 'DELETE'
                            }).then(res => window.location.reload());
                        }
                    }
                });
            }
        });

    </script>
{% endblock %}